## Pivoteando & Unpivot

In [47]:
import pandas as pd
from tabulate import tabulate

df = pd.read_csv(r"C:\Users\User\OneDrive\Documentos\Archivos_Carlos\BBDD - No estructurada\Makro_Ventas.csv",delimiter=";")
df.head(5) ## Salida 5 Datos

,Año,Mes,Semana,Fechas,Cadena,Departamento,Distrito,Categoria,Marca,Codigo_Producto,Material,Unidades B2B,Peso en Toneladas,Ventas sin IGV
0,2022,Abril,Semana 1,01/04/2022,Makro,Cusco,San Jeronimo (Cusco),Lejias,Sapolio,8300003,Lejia Sapolio Original 5000 grs 4Bot - 8300003,19,0.095000,165.71
1,2022,Abril,Semana 1,01/04/2022,Makro,Cusco,San Jeronimo (Cusco),Pastas,Alianza,4300008,Fid.Alianza Codo Rayado 250 grs 20Bol - 4300008,2,0.000500,2.29
2,2022,Abril,Semana 1,01/04/2022,Makro,Cusco,San Jeronimo (Cusco),Aceites,Primor,3101013,Nu. Aceite Veg. Primor Premium 1 lt 12 Bot - 3...,61,0.055876,603.90
3,2022,Abril,Semana 1,01/04/2022,Makro,Cusco,San Jeronimo (Cusco),Aceites,Primor,3101018,Aceite Prim Oliv Equilibrado 1 lt 12Botpet - 3...,1,0.000916,29.57
4,2022,Abril,Semana 1,01/04/2022,Makro,Cusco,San Jeronimo (Cusco),Detergentes,Marsella,8400550,Det Marsella Alegria Trop 750Gr.15Bol - 8400550,1,0.000750,6.78

In [48]:
## Agrupacion Aceite Ventas :

Filtro = df.loc[df['Categoria']== 'Aceites']
agrupacion = Filtro.groupby('Mes')['Ventas sin IGV'].sum()
agrupacion.to_frame().reset_index()

       Mes  Ventas sin IGV
0    Abril      1475185.73
1    Enero       906798.76
2  Febrero       876418.63
3    Julio      1905752.08
4    Junio      2307917.42
5    Marzo      1396692.71
6     Mayo      1769965.27

In [71]:
## Ejercicio 1
## Se solicita realizar un cuadro resumen de las ventas por meses la cabeceras tienen que ser los meses y filas marca

pivoteando = df.pivot_table(index=['Categoria'],columns=['Mes'],values=['Ventas sin IGV'],aggfunc='sum').reset_index()
notnull = pivoteando.fillna('No se Encontro Registro') ## Cambiando los valores Nullos a un parametros String
notnull.columns = notnull.columns.droplevel() ## Para quitar las cabeceras que estan estan demas quedara una cabecera vacia.
notnull.rename(columns={'':'Categoria'},inplace=True) ## Cambiamos el nombre de campo vacio a un nombre real
notnull

Mes,Categoria,Abril,Enero,Febrero,Julio,Junio,Marzo,Mayo
0,Aceites,1475185.73,906798.76,876418.63,1905752.08,2307917.42,1396692.71,1769965.27
1,Afeitado,299.93,508.52,1001.85,No se Encontro Registro,No se Encontro Registro,609.47,95.02
2,Auxiliares de Lavanderia,81.51,75.24,No se Encontro Registro,No se Encontro Registro,No se Encontro Registro,68.97,No se Encontro Registro
3,Auxiliares de Limpieza,No se Encontro Registro,690.67,126.0,No se Encontro Registro,No se Encontro Registro,No se Encontro Registro,No se Encontro Registro
4,Ayudas Culinarias,8335.01,4899.91,7311.55,6511.91,6626.45,10669.75,7051.76
5,Cereales,311852.75,267497.67,264313.59,297147.24,314996.69,367390.84,288843.76
6,Chocolate de Taza,0.34,24.48,217.96,No se Encontro Registro,No se Encontro Registro,26.26,0.68
7,Chocolates,No se Encontro Registro,8.46,1.69,No se Encontro Registro,No se Encontro Registro,No se Encontro Registro,No se Encontro Registro
8,Conservas,503849.05,312247.4,389981.33,329093.98,368573.75,547177.85,340730.21
9,Cuidado de Auto,127.67,214.99,118.83,126.48,148.75,255.32,194.86
10,Cuidado de Calzado,1564.24,No se Encontro Registro,No se Encontro Registro,920.84,1139.45,1389.87,1145.91
11,Cuidado de Piso,12509.62,7292.18,10190.52,16544.47,17165.89,12392.3,13209.81
12,Cuidado de Piso Maquila,226.19,66.42,62.26,174.45,207.55,136.99,186.04
13,Cuidado del Aire,52960.21,55677.93,54078.39,63856.63,60087.37,62093.65,55342.17
14,Desodorantes,No se Encontro Registro,No se Encontro Registro,No se Encontro Registro,41.95,25.17,No se Encontro Registro,No se Encontro Registro
15,Detergentes,1921124.72,2137867.8,1969361.02,2217242.03,2369273.56,2372048.7,2081701.57
16,Enjuague Bucal,22411.78,28612.36,20330.65,23491.94,23254.89,26028.98,20516.49
17,Galletas,912678.74,635573.04,617839.87,682302.7,805273.63,802592.12,1049966.8
18,Gel Antibacterial,5139.75,8012.49,7663.25,4925.01,4114.1,12111.82,3781.01
19,Harinas,194643.84,152664.85,182568.46,217267.13,281613.45,211276.04,242232.49
20,Insecticidas,40472.35,53127.48,46589.24,26062.11,28192.25,55165.81,33088.03
21,Jabon Liquido,99702.14,99444.71,98311.97,91706.73,105161.7,134518.1,94344.97
22,Jabon de Tocador,8797.29,6586.78,2645.53,11441.66,7498.1,5443.56,8954.46
23,Jabones de Lavar,230671.48,212088.16,202725.69,280444.95,309314.96,263753.44,262314.92
24,Lavavajillas,215804.75,206405.5,184066.3,221715.37,263124.73,233400.76,237905.93
25,Lavavajillas Maquila,93.67,221.01,45.53,517.58,110.81,92.17,135.01
26,Lejias,206920.49,189841.14,195175.49,221083.12,232313.32,200522.89,210553.53
27,Limpiadores Especializados,72535.09,74338.5,69134.07,84875.59,87744.27,89502.28,77227.95
28,Limpiadores Heavy Duty,34088.45,41752.57,35592.14,41309.51,41603.2,44524.4,37641.44
29,Limpiadores Light Duty,106740.12,123145.92,113347.78,127933.94,136176.53,132690.9,121114.64
30,Pasta Dental,93347.49,101410.0,92711.65,122222.75,111026.17,122340.63,96463.68
31,Pastas,956738.77,783162.51,802767.94,1437583.15,1714826.46,1058595.5,1314538.91
32,Postres,36243.48,22052.8,41168.88,38585.89,39684.19,58854.82,39931.33
33,Pre Mezclas,22578.55,18207.15,17362.01,26868.41,28957.64,23706.72,24719.82
34,Quitamanchas,45725.43,46164.6,41995.11,59189.8,60473.73,53139.99,51264.57
35,Refrescos,67.07,16.57,5.94,No se Encontro Registro,No se Encontro Registro,53.4,45.75
36,Rellenos y Cobertura,No se Encontro Registro,13.02,8.14,1281.23,67.14,No se Encontro Registro,33.92
37,Salsas,719822.68,618468.63,714406.65,776899.53,767180.27,763656.44,783484.49
38,Suavizantes,80371.07,87431.47,72194.23,99331.64,97602.04,93657.49,91639.77
39,Untables Domesticos,56200.68,56309.53,65053.03,65783.31,77027.0,71375.56,79125.56

In [25]:
## Despivoteando el Ejercicio 1

# Cambiando el nombre de la columna 'Ventas Sin IGV' en el DataFrame pivoteado
pivoteando.columns = ['Categoria', 'Abril','Enero','Febrero','Juli','Junio','Marzo','Mayo']

# Despivotando los datos
despivoteado = pd.melt(pivoteando, id_vars=['Categoria'], value_name='Ventas Sin IGV', var_name='Mes')

# Mostrando el resultado
despivoteado

                    Categoria    Mes  Ventas Sin IGV
0                     Aceites  Abril      1475185.73
1                    Afeitado  Abril          299.93
2    Auxiliares de Lavanderia  Abril           81.51
3      Auxiliares de Limpieza  Abril             NaN
4           Ayudas Culinarias  Abril         8335.01
..                        ...    ...             ...
275                 Refrescos   Mayo           45.75
276      Rellenos y Cobertura   Mayo           33.92
277                    Salsas   Mayo       783484.49
278               Suavizantes   Mayo        91639.77
279       Untables Domesticos   Mayo        79125.56

[280 rows x 3 columns]

In [19]:
## Ejercicio 2 : 

## Se solicita despivotear el siguiente dataframe

data = {
    'mes': ['Ene', 'Feb', 'Mar', 'Ene', 'Feb', 'Mar', 'Ene', 'Feb', 'Mar'],
    'categoria': ['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'C'],
    'ventas': [100, 200, 150, 75, 125, 100, 50, 75, 100]
}

df = pd.DataFrame(data)

In [20]:
pivoteado = df.pivot_table(index=['categoria'], columns=['mes'], values=['ventas'], aggfunc='sum').reset_index()
pivoteado

    categoria ventas
mes              Ene  Feb  Mar
0           A    100  200  150
1           B     75  125  100
2           C     50   75  100

In [21]:
# Pivoteando los datos
pivoteado = df.pivot_table(index=['categoria'], columns=['mes'], values=['ventas'], aggfunc='sum').reset_index()

# Cambiando el nombre de la columna 'ventas' en el DataFrame pivoteado
pivoteado.columns = ['categoria', 'Ene', 'Feb', 'Mar']

# Despivotando los datos
despivoteado = pd.melt(pivoteado, id_vars=['categoria'], value_name='ventas', var_name='mes')

# Mostrando el resultado
despivoteado

  categoria  mes  ventas
0         A  Ene     100
1         B  Ene      75
2         C  Ene      50
3         A  Feb     200
4         B  Feb     125
5         C  Feb      75
6         A  Mar     150
7         B  Mar     100
8         C  Mar     100