## Union All & Union

In [1]:
## Seccion de Union All and Union

import pandas as pd
from tabulate import tabulate
import numpy as np

df = pd.read_csv(r"C:\Users\User\OneDrive\Documentos\Archivos_Carlos\BBDD - No estructurada\Makro_Ventas.csv",delimiter=";")
df.head(5) ## Salida 5 Datos

,A単o,Mes,Semana,Fechas,Cadena,Departamento,Distrito,Categoria,Marca,Codigo_Producto,Material,Unidades B2B,Peso en Toneladas,Ventas sin IGV
0,2022,Abril,Semana 1,01/04/2022,Makro,Cusco,San Jeronimo (Cusco),Lejias,Sapolio,8300003,Lejia Sapolio Original 5000 grs 4Bot - 8300003,19,0.095000,165.71
1,2022,Abril,Semana 1,01/04/2022,Makro,Cusco,San Jeronimo (Cusco),Pastas,Alianza,4300008,Fid.Alianza Codo Rayado 250 grs 20Bol - 4300008,2,0.000500,2.29
2,2022,Abril,Semana 1,01/04/2022,Makro,Cusco,San Jeronimo (Cusco),Aceites,Primor,3101013,Nu. Aceite Veg. Primor Premium 1 lt 12 Bot - 3...,61,0.055876,603.90
3,2022,Abril,Semana 1,01/04/2022,Makro,Cusco,San Jeronimo (Cusco),Aceites,Primor,3101018,Aceite Prim Oliv Equilibrado 1 lt 12Botpet - 3...,1,0.000916,29.57
4,2022,Abril,Semana 1,01/04/2022,Makro,Cusco,San Jeronimo (Cusco),Detergentes,Marsella,8400550,Det Marsella Alegria Trop 750Gr.15Bol - 8400550,1,0.000750,6.78

In [11]:
## Ejercicio 1
## Se pide unir todas las ventas generadas de Enero y Febrero mostrar el top 5 de mayores ventas de esos 2 meses
df['Mes'].unique()

array(['Abril', 'Enero', 'Febrero', 'Junio', 'Marzo', 'Mayo', 'Julio'],
      dtype=object)

In [13]:
## Desarollo

Mes_Enero = df.loc[df['Mes'] == 'Enero'].sort_values(by='Ventas sin IGV',ascending=False).head(5)
Mes_Febrero = df.loc[df['Mes'] == 'Febrero'].sort_values(by='Ventas sin IGV',ascending=False).head(5)

## Generacion del Union ALL

union_total = pd.concat([Mes_Enero,Mes_Febrero])
tabulacion = union_total.values.tolist()
print(tabulate(union_total,headers=union_total.columns,tablefmt='psql'))

+--------+-------+---------+----------+------------+----------+----------------+------------------------+-------------+--------------+-------------------+------------------------------------------------------+----------------+---------------------+------------------+
|        |   A単o | Mes     | Semana   | Fechas     | Cadena   | Departamento   | Distrito               | Categoria   | Marca        |   Codigo_Producto | Material                                             |   Unidades B2B |   Peso en Toneladas |   Ventas sin IGV |
|--------+-------+---------+----------+------------+----------+----------------+------------------------+-------------+--------------+-------------------+------------------------------------------------------+----------------+---------------------+------------------|
| 120558 |  2022 | Enero   | Semana 3 | 18/01/2022 | Makro    | Lambayeque     | Chiclayo               | Aceites     | Primor       |           3101013 | Nu. Aceite Veg. Primor Premium 1 lt 12 Bot - 3101013 |           2634 |             2.41274 |          24526.6 |
| 124521 |  2022 | Enero   | Semana 4 | 29/01/2022 | Makro    | Lima           | Santa Anita            | Detergentes | Marsella     |           8404702 | Det. Marsella Profesional 13.5 kg - 8404702          |            204 |             2.754   |          13139.1 |
| 167478 |  2022 | Enero   | Semana 4 | 31/01/2022 | Makro    | Lambayeque     | Chiclayo               | Salsas      | Alacena      |           3300077 | Mayonesa Alacena 950 grs .6Dpk - 3300077             |           1068 |             1.01674 |          12671.2 |
| 156796 |  2022 | Enero   | Semana 3 | 18/01/2022 | Makro    | Lambayeque     | Chiclayo               | Aceites     | Primor       |           3101011 | Nu. Aceite Vegetal Primor 1 lt 12Bot - 3101011       |           1414 |             1.29522 |          12660.9 |
| 160874 |  2022 | Enero   | Semana 3 | 18/01/2022 | Makro    | Lambayeque     | Chiclayo               | Salsas      | Alacena      |           3300077 | Mayonesa Alacena 950 grs .6Dpk - 3300077             |            960 |             0.91392 |          11389.8 |
| 246638 |  2022 | Febrero | Semana 4 | 24/02/2022 | Makro    | Lima           | San Juan de Lurigancho | Salsas      | Alacena      |           3300110 | Uchucuta Alacena 85 grs24Dpk Wa - 3300110            |          32160 |             2.7336  |          57233.9 |
| 244401 |  2022 | Febrero | Semana 4 | 23/02/2022 | Makro    | Lima           | San Juan de Lurigancho | Salsas      | Alacena      |           3300110 | Uchucuta Alacena 85 grs24Dpk Wa - 3300110            |          10752 |             0.91392 |          19134.9 |
| 226624 |  2022 | Febrero | Semana 4 | 24/02/2022 | Makro    | Lambayeque     | Chiclayo               | Pastas      | Don Vittorio |           4302041 | Nu.Fid.Don Vittorio Ling端i.500 grs 20Bol - 4302041   |           6458 |             3.229   |          15819.9 |
| 219085 |  2022 | Febrero | Semana 4 | 24/02/2022 | Makro    | Lima           | Santa Anita            | Detergentes | Marsella     |           8404702 | Det. Marsella Profesional 13.5 kg - 8404702          |            229 |             3.0915  |          15525.5 |
| 198983 |  2022 | Febrero | Semana 2 | 11/02/2022 | Makro    | Lima           | Santa Anita            | Detergentes | Marsella     |           8404702 | Det. Marsella Profesional 13.5 kg - 8404702          |            191 |             2.5785  |          12949.1 |
+--------+-------+---------+----------+------------+----------+----------------+------------------------+-------------+--------------+-------------------+------------------------------------------------------+----------------+---------------------+------------------+

In [22]:
## Ejercicio 2 
## Union se pide obtener la union de estos dos dataframes donde no se considere los valores que se encuentren duplicando

# Crear la tabla ventas_enero
df_enero = pd.DataFrame({
    'fecha': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05'],
    'producto': ['A', 'B', 'C', 'D', 'E'],
    'cantidad': [10, 8, 8, 12, 20]
})

# Crear la tabla ventas_febrero
df_febrero = pd.DataFrame({
    'fecha': ['2022-02-01', '2022-02-02', '2022-02-03', '2022-02-04', '2022-02-05'],
    'producto': ['A', 'B', 'C', 'D', 'E'],
    'cantidad': [10, 8, 15, 10, 18]
})

In [24]:
## Desarrollo

union = pd.merge(df_enero[['producto','cantidad']],df_febrero[['producto','cantidad']],how='outer').drop_duplicates(subset=['producto','cantidad'])
format_tabulate = union.values.tolist()
print(tabulate(format_tabulate,headers=union.columns,tablefmt='psql'))

+------------+------------+
| producto   |   cantidad |
|------------+------------|
| A          |         10 |
| B          |          8 |
| C          |          8 |
| D          |         12 |
| E          |         20 |
| C          |         15 |
| D          |         10 |
| E          |         18 |
+------------+------------+